body {
  padding: 20px 10px 0px 10px;
  background: #fff;
}

div#container {
  width: 90%;
  border: 1px #ddd solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0px auto 20px auto;
  background-color: #fff;
  padding: 10px;
}

h1 {
  font-size: 1.6em;
  text-align: center;
  border-bottom: 1px #ccc solid;
}

dt {
  font-weight: bold;
}

div.image img {
  display: block;
  margin: 0px auto 10px auto;
}

p.intro, p.donation {
  text-align: center;
  font-size: 0.9em;
}

span.small {
  font-size: 0.7em;
}

span.small a {
  text-decoration: none;
}

a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #999;
  text-decoration: underline;
}

p.cache {
  padding: 10px;
}

p.stat {
  font-size: 0.9em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 0px 15px 0px;
  background: #fff; /* Old browsers */
  background: -moz-linear-gradient(top,  #fff 0%, #eee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#eee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fff 0%,#eee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fff 0%,#eee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fff 0%,#eee 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fff 0%,#eee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#eee',GradientType=0 ); /* IE6-9 */
  border: 1px #ededed solid;
}

p.stat span.label {
  font-weight: bold;
}

div#footer {
  padding-top: 7px;
}

div#footer hr {
  width: 100%;
  border: none;
  height: 1px;
  color: #eee;
  background-color: #eee;
}

div#footer p {
  color: #aaa;
  text-align: center;
  font-style: italic;
  font-size: 0.7em;
}

div#footer p a {
  text-decoration: none;
  font-weight: bold;
  color: #aaa;
}

div#footer p a:hover {
  text-decoration: underline;
}

table {
  background-color: #fff;
}

div.red, p.cache {
  text-align: center;
  background-color: #ffe2e1;
  border: 1px #600 solid;
}

table {
  border: 1px #ddd solid;
}

th, td {
  padding: 10px;
  border-right: 1px #ccc solid;
  font-size: 0.9em;
}

th {
  background: #efefef;
  border-bottom: 1px #aaa solid;
}

#forkongithub a{background:#fff;color:#777 !important;text-decoration:none;font-style: normal;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#999;color:#eee !important;text-decoration: none !important;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#ccc;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#forkongithub{position:fixed;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;}#forkongithub a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(200,200,200,0.8);}}
